<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #616e7c;
}

.header-content {
    display: flex;
    align-items: center;
}

header {
    margin-bottom: 50px;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #172933;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    display: block;
    color: #9aa5b1;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 30px;
   
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    text-decoration: underline;
    background-color: #52606d;
}

.leo {
    max-width: 200px;
    height: auto;
    padding: 40px;
    border-radius: 50%;
    padding-left: 100px;
}

.headleo {
    margin-right: 80px;
    margin-left: 20px;
    margin-bottom: 0;
    color:#18191a;;
    white-space: nowrap;
}

.quotes {
    font-size: large;
    font-weight: 700;
    padding-top: 20px;
    color: #18191a;
}

.quotes p {
    font-size: 25px;
}
.agc {
    text-align: center;
}
.bsection {
    width: 80%;
    margin: 0 auto;

}
#gallery .painting {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

#gallery .painting img {
max-width: 400px;
    height: auto;
    padding: 40px;
    border-radius: 20%;
    margin-left: 50px;
    margin-top: 30px;
}
#gallery .painting .number {
    position: absolute;
    top: -20px;
    left: 10px; 
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    
}
#gallery .painting .descrip 
{
    font-weight: 400;
    color: #18191a;
    font-size: larger;
}
#gallery .painting .painting-name {
    position: absolute;
    top: 1px;
    left: 20%;
    transform: translateX(-50%);
    color: #04040c;
    z-index: 10;
    
}
h2 {
    font-family: Courier, monospace;
    font-size: 2em;
    text-align: center;
    border-top: 2px solid black;
    padding-top: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Six+Caps);

body {
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=15424fff&noise=166f9e&density=100&opacity=61);
    text-align: center;
}
.info {
   border-top: 5px solid #000;
}

.halo {
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.6));
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    pointer-events: none;
}

.intro {
    color: rgb(230, 200, 160);
    display: block;
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    text-shadow: 1px 1px black;
    transform: rotate(-10deg);
}

.--pre {
    transform: rotate(-10deg) translate(-20px, 15px);
}

.--lab {
    background: rgb(240, 200, 160);
    border: 1px dotted rgb(20, 60, 80);
    color: rgb(20, 60, 80);
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bolder;
    padding: 4px 6px 2px;
    position: absolute;
    text-shadow: none;
    transform: rotate(-10deg) translate(20px, -25px);
    margin-left: 30px;
}

.vintage__container {
    display: inline-block;
    margin: 25px auto 40px;
}

.vintage {
    font-family: 'Six Caps', sans-serif;
    font-size: 192px;
    letter-spacing: 10px;
    line-height: 1;
    margin: 0;
    position: relative;
}

.vintage__top {
    background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    z-index: 1;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.vintage__bot {
    text-shadow:
        2px 1px rgb(85, 10, 0),
        4px 2px rgb(90, 15, 5),
        6px 4px rgb(100, 20, 15),
        8px 5px rgb(105, 25, 20),
        10px 6px rgb(110, 30, 25),
        12px 7px rgb(115, 30, 30),
        14px 8px rgb(120, 30, 35),
        16px 9px black,
        18px 10px black,
        20px 11px black,
        22px 12px black,
        24px 13px black,
        28px 14px rgba(0, 0, 0, 0.9),
        30px 15px rgba(0, 0, 0, 0.7),
        32px 16px rgba(0, 0, 0, 0.5),
        34px 17px rgba(0, 0, 0, 0.3),
        36px 18px rgba(0, 0, 0, 0.1),
        40px 20px rgba(0, 0, 0, 0.1);
}
</style>